body{
background-color: rgba(179, 184, 184, 0.363);
margin: 0px;

}
#menu ul {
			padding:0px;
			margin:0px;
			float: left;
			width: 100%;
			background-color:#0a0a0a;
			list-style:none;
      font:140% Tahoma;
      border-bottom-style: solid;
      border-color: rgba(48, 2, 255, 0.493);
		}
 
		#menu ul li { display: inline; }
 
		#menu ul li a {
			background-color:#0a0a0a;
			color: rgb(255, 255, 255);
			text-decoration: none;
			border-bottom:10px solid #0a0a0a;
			padding: 20px 10px;
			float:left;
		}
 
		#menu ul li a:hover {
			background-color:#0a0a0a;
			color: #6D6D6D;
			border-bottom:3px solid #2300ea;
		}
  .imagem{
    height: 400px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;

  }
  .texto{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    background-color: rgba(43, 255, 0, 0.945);
    color:#fff;
    text-align: center;
    top: 150px;
    width: 250px;
    line-height: 30px;
    height: 70px;
    
  }
  .texto a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .texto a:hover{
    color: rgba(255, 255, 255, 0.753);
    border-bottom:5px solid #2300ea;
    padding: 8px 0px;
    
  }
  .texto1{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    background-color: rgba(43, 255, 0, 0.945);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 70px;
  }
  .texto2{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    background-color: rgba(43, 255, 0, 0.945);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 70px;

  }
  .imagem01{
    margin-top: 10px;
    padding-left: 20px;
    margin-right: 15px;
    width: 300px;
    height: 300px;
    float:left;
  }
  .paragrafo{
    background: chocolate;
    margin-left: 2%;
    font-size: 20px;
    line-height: 27px;
    width: 73%;
    height: 380px;
  
  }
  .paragrafo p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .footer{
    width:100%;
    background:yellow;
    text-align:center;
  }
